* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 20px; */
    background-color: #ffffff;
    text-align: center;
    line-height: 1;
  }

  nav {
    background-color: #000000;
    text-align: left;
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .navDisplay {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .myName {
    margin: 10px 0 0 30px;
    color: #64F8FF
  }

  .myName h1 {
    margin: 0;
    font-size: 20px;
  }

  .navLinks {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    /* margin-top: 20px; */
    margin-right: 30px;
  }

  .hamburger span {
    height: 5px;
    width: 35px;
    background-color: #6D57FF;
    display: block;
    margin: 6px 0;
  }

  main {
    margin-top: 100px;
  }

  .linkDrop {
    display: none;
    right: 100%;
    position: fixed;
    top: 100px;
    height: 25px;
    width: 100%;
  }

  .linkDrop.showMenu {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: 0;
    animation-duration: 1s; 
    animation-name: slidein;
    animation-timing-function: ease-out;
  }

  .linkDrop a {
    margin-top: 5px;
    color: #4FE898;
    text-decoration: none;
    display: block;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
  }

  .linkDrop a:visited {
    color: #4FE898;
  }

  .linkDrop a:hover {
    text-decoration: underline;
  }

  .linkDrop a:active {
    text-decoration: underline;
    background-color: #4FE898;
    color: #000000;
  }

  header {
    margin-top: 130px;
  }

  .heroBio h2 {
    margin: 0;
  }

  .heroBio img {
    margin-top: 0;
    max-width: 300px;
    max-height: 300px;
  }

  .bio {
    margin: 0 20px;
  }

  .bio ul li {
    font-size: 16px;
    font-weight: normal;
    line-height: 2;
  }

  .bio ul .largeEmph {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
  }

  .bio ul .emph {
    font-size: 18px;
    font-weight: 500;
  }

  .bioItems {
    margin-left: -40px;
    list-style: none;
    text-align: center;
  }

  .project_one p {
    margin: 0 40px;
  }

  .project_one img {
    margin: 10px 0 0 0;
    max-width: 300px;
    max-height: 300px;
  }

  .project_one {
    line-height: 3;
  }

  .contact {
    max-height: 50px;
    text-align: center;
  }

  footer {
    background-color: #4F8EE8;
    }

  .footer {
    margin: 0 30px;
    max-height: 32px;
    display: flex;
    justify-content: space-evenly;
  }

  footer a:visited {
    color: #4F8EE8;
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer a:active {
    text-decoration: underline;
    background-color: #4F8EE8;
    color: #000000;
  }

  footer a img {
    background-color: #ffffff;
    max-height: 32px;
    max-width: 32px;
  }

  @keyframes slidein { 
    from { 
      right: 100%; 
    }
    to { 
      right: 0%; 
    } 
  }

  @media (min-width: 768px) {

    .myName h1 {
      font-size: 24px;
    }

    .myName {
      margin: 5px 0 0 30px;
    }

    .navLinks {
      display: inline-block;
      /* margin-top: 30px; */
      margin: 10px 10px 0 0;
    }

    .navLinks a {
      color: #4FE898;
      text-decoration: none;
      margin-right: 20px;
      font-size: 16px;
    }

    .navLinks a:visited {
      text-decoration: underline;
      color: #4FE898;
    }

    .navLinks a:hover {
      text-decoration: underline;
    }

    .navLinks a:active {
      text-decoration: underline;
      background-color: #4FE898;
      color: #000000;
    }

    .hamburger{
      display: none;
    }

    .heroBio img {
      max-width: 500px;
      max-height: 500px;
    }

    .bio p {
      margin: 0 45px;
    }

    .heroBio p {
      margin: 0 45px;
    }

    .project_one img {
      max-width: 500px;
      max-height: 500px;
    }

    .footer {
      margin: 0 200px;
    }
  }