* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    background-color: #728785;
    text-align: center;
    line-height: 1.5;
  }

  nav {
    /* padding: 1% 0; */
    background-color: #000000;
    text-align: left;
  }

  nav {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .navDisplay {
    /* color: #3DFFEC; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .myName {
    margin-left: 60px;
    color: #76CCC3
  }

  .navLinks {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    margin-top: 20px;
    margin-right: 60px;
  }

  .hamburger span {
    height: 5px;
    width: 35px;
    background-color: #3DFFEC;
    display: block;
    margin: 6px 0;
  }

  main {
    margin-top: 100px;
    color: #3DFFEC;
  }

  /* section {
    min-height: 100px;
    border:2px solid red;
  } */

  .heroBio img {
    margin: 30px 0;
    max-width: 200px;
    max-height: 200px;
  }

  .heroBio p {
    margin: 30px;
  }

  .bio {
    margin: 30px;
  }

  .project_one {
    margin-top: 30px;
  }

  .project_one img {
    margin-top: 10px;
    max-width: 300px;
    max-height: 300px;
  }

  .contact {
    background-color: #000000;
    max-height: 50px;
    text-align: center;
  }

  footer a {
    font-size: 15px;
    /* margin-left: 60px; */
  }

  footer a img {
    background-color: #3DFFEC;
  }
  @media (min-width: 768px) {
    .heroBio img {
      max-width: 300px;
      max-height: 300px;
    }
    .navLinks {
      display: inline-block;
      margin-top: 25px;
      margin-right: 60px;
    }
    .navLinks a {
      margin-right: 5px;
      color: #76CCC3;
      text-decoration: none;
    }

    .navLinks a:visited {
      text-decoration: underline;
      text-decoration-color: #76CCC3
    }

    .navLinks a:hover {
      text-decoration: underline;
    }

    .navLinks a:active {
      text-decoration: underline;
      background-color: #76CCC3;
      color: #000000;
    }

    .hamburger{
      display: none;
    }
    .bio p {
      margin: 0 45px;
    }
    .heroBio p {
      margin: 0 45px;
    }
    .project_one img {
      max-width: 400px;
      max-height: 400px;
    }
    .ghLogo {
      max-height: 32px;
      max-width: 32px;
    }
  }