* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    /* background-color: #D7FAF3; */
    background-color: #ffffff;
    text-align: center;
    line-height: 2;
  }

  nav {
    /* padding: 1% 0; */
    background-color: #000000;
    text-align: left;
  }

  nav {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .navDisplay {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .myName {
    margin-left: 60px;
    color: #7BE0CC
  }

  .navLinks {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    margin-top: 20px;
    margin-right: 60px;
  }

  .hamburger span {
    height: 5px;
    width: 35px;
    background-color: #7BE0CC;
    display: block;
    margin: 6px 0;
  }

  main {
    margin-top: 100px;
  }

  @keyframes slidein { 
    from { 
      right: 100%; 
      /* width: 300%;  */
    }
    to { 
      right: 0%; 
      /* width: 100%;  */
    } 
  }

  .linkDrop {
    display: none;
    right: 100%;
    position: fixed;
    top: 100px;
    width: 100%;
  }

  .linkDrop.showMenu {
    display: block;
    right: 0;
    animation-duration: 1s; 
    animation-name: slidein;
    animation-timing-function: ease-out;
  }

  .linkDrop a {
    display: block;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.25);
  }

  header {
    margin: 130px 0;
  }

  .heroBio img {
    /* margin: 10px 0; */
    max-width: 300px;
    max-height: 300px;
  }

  .bio {
    margin: 30px;
  }

  .project_one {
    margin-top: 30px;
  }

  .project_one img {
    margin-top: 10px;
    max-width: 300px;
    max-height: 300px;
  }

  .contact {
    /* background-color: #000000; */
    max-height: 50px;
    /* max-width: 100%; */
    text-align: center;
  }

  .footer {
    background-color: #000000;
    max-height: 50px;
    text-align: center;
  }

  footer a {
    font-size: 15px;
    /* margin-left: 60px; */
  }

  footer a img {
    background-color: #7BE0CC;
  }

  @media (min-width: 768px) {
    .heroBio img {
      max-width: 500px;
      max-height: 500px;
    }

    .navLinks {
      display: inline-block;
      margin-top: 25px;
      margin-right: 60px;
    }

    .navLinks a {
      margin-right: 5px;
      color: #7BE0CC;
      text-decoration: none;
      margin-right: 20px;
    }

    .navLinks a:visited {
      text-decoration: underline;
      color: #7BE0CC;
    }

    .navLinks a:hover {
      text-decoration: underline;
    }

    .navLinks a:active {
      text-decoration: underline;
      background-color: #7BE0CC;
      color: #000000;
    }

    .hamburger{
      display: none;
    }

    .bio p {
      margin: 0 45px;
    }

    .heroBio p {
      margin: 0 45px;
    }

    .project_one img {
      max-width: 500px;
      max-height: 500px;
    }
  }